snippet pho ".PHONY: all" w
.PHONY: all
endsnippet

snippet defall "DEFINES += $(foreach i, $(DEFINE_LIST), -D $(i)=$($(i)))" w
PARAM0 = 10
PARAM1 = 11
PARAMS =  \
    PRARM0 \
    PRARM1
DEFINES = $(foreach i, $(PARAMS), -D $(i)=$($(i)))
endsnippet
