[user]
    email = Norito.Kato@sony.com
    name = Norito Kato
[alias]
    lg    = log --graph --date-order -C -M --pretty=format:\"%C(cyan)<%h> %ad [%an] %Cgreen%d%Creset %C(yellow)%s%Creset%n%-b\" --date=short
    lgs   = log --graph --date-order -C -M --pretty=format:\"%C(cyan)<%h> %ad [%an] %Cgreen%d%Creset %C(yellow)%s%Creset%n%-b\" --date=short --stat
    lga   = log --graph --date-order -C -M --pretty=format:\"%C(cyan)<%h> %ad [%an] %Cgreen%d%Creset %C(yellow)%s%Creset%n%-b\" --date=short --all
    slg = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %C(yellow)%s\" --date=short
    slgs = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %C(yellow)%s\" --date=short --stat
    slga = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short --all
    co = checkout
    d = diff
    l = log --color
    lp = log -p
    a = add
    st = status
    b = branch
    p = pull
    cl = clone --recursive
    cls = clone --recursive --depth 1
    chp = cherry-pick
    root = rev-parse --show-toplevel
    re = remote
[core]
  pager = env LESSCHARSET=utf-8 less -+F -m -R
